<!DOCTYPE html>
<html>

<head>
  <title>Map of Media Coverage</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/typeahead.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/typeahead.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-jvectormap-1.2.2.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-jvectormap-world-mill-en.js"></script>
</head>

<body>

<div class="container"> 

  {% block content %}{% endblock %}

<div>

</body>

</html>
