{% extends "base.html" %}
{% block content %}

<div class="row">

  <div class="span12">
    <h1>Media Coverage of {{country_name}}</h1>
    <p>We have {{story_count}} mentions of {{country_name}} in the database</p>
  </div>
</div>

<div>

  <div class="span12">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Media Source</th>
          <th>Mentions</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for info in coverage %}
        <tr>
          <td><a href="/media/{{info['id']}}/country-coverage">{{info['name']}}</a></td>
          <td>{{info['story_count']}}</td>
          <td><a href="/media/{{info['id']}}/{{country_code}}/stories">see stories</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}