body .modal {
    /*new custom width*/
    width: 750px;
    /*must be half of the width, minus scrollbar on the left (30px)*/
    margin: -345px 0 0 -375px;
}

.json {
	font-size: 10px;
	line-height: 12px;
}